@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
    margin: 0%;
    padding: 0%;
}

.main {
    display: flex;
    flex-direction: column;
    font-family: 'Bebas Neue', sans-serif;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    background-color: #4d774e;
    position: fixed;
    width: 100%;
    color: #f1b24a;
    
}

.title {
    font-size: 32px;
    font-weight: 700;
}

ul a {
    text-decoration: none;
    color: #f1b24a;
    font-size: 24px;
}

ul {
    list-style: none;
    margin: 0%;
    padding: 0%;
    display: flex;
    gap: 16px;
}

ul a:hover {
    color: black;
    transition: 0.5s;
}

.hero {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    /* background-image: url(images/alex-dukhanov-1l2ZSKCMDio-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */
    background: linear-gradient(60deg, #164a41, #9dc88d);
    /* padding: 150px; */
    height: 500px;
    color: white;
    border-bottom: #f1b24a 4px solid;
}

.hero-container {
    display: flex;    
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.hero-text {
    font-size: 48px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    font-family: 'Bebas Neue';
}

.hero-subtext {
    font-size: 20px;
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    font-family: 'Bebas Neue', sans-serif;
}

.A {
    
    padding: 10px 40px;
    font-size: 20px;
    font-family: 'Bebas Neue', sans-serif;
    background-color: transparent;
    color: white;
    border-radius: 50px;
    border: 2px solid;
    border-color: #f1b24a;
}

.A:hover {
    color: black;
    border-color: black;
    transition: 0.5s;
}

.team {
    background-color: #9dc88d;
}

.team-text {
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
}

.team-container {
    display: flex;
    justify-content: space-evenly;
    padding: 25px;
    padding-top: 0%;
}

.info {
    max-width: 200px;
}

.img {
    border: #f1b24a 4px solid;
    border-radius: 20px;
}

.info-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    margin: 0%;
}

.info-subtext {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0%;
    font-size: 15px;
    margin-bottom: 20px;
}